<form [formGroup]="orderForm" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customerId">
            <mat-option>All</mat-option>
            <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
            {{customer.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Item Name</mat-label>
        <input matInput placeholder="Baseball" formControlName="itemName">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" placeholder="1" formControlName="quantity">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Unit Price</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <input matInput type="number" placeholder="13.95" formControlName="unitPrice">
    </mat-form-field>

    <div>
        <button mat-raised-button type="submit" color="primary" [disabled]="!orderForm.valid || saving">Create</button>
        <button mat-raised-button type="button" (click)="cancel(formDirective)">Cancel</button>
    </div>
</form>
